.input-container {
  font-size: 24px;

  input {
    color: #d3d3d3bd;

    &:focus {
      color: grey;
    }
  }
}

:host ::ng-deep mat-form-field {
  width: 100%;

  .mat-form-field-underline {
    height: 0;
  }

  .mat-form-field-ripple {
    height: 0;
  }

  .mat-form-field-infix {
    border-top: 0;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }
}
