<section class="footer">
  <div class="footer__counter">
    {{ tasksIncompleted }} Items left
  </div>
  <app-button title="All" [active]="true" (click)="navigateTo('/tasks')"></app-button>
  <app-button title="Active" (click)="navigateTo('/tasks/active')"></app-button>
  <app-button title="Completed" (click)="navigateTo('/tasks/completed')"></app-button>
  <div class="footer__clear-completed">
    <app-button title="Clear completed" (click)="clearCompleted()"></app-button>
  </div>
</section>
